<mat-toolbar>
    <button mat-button (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
    </button>

    <button mat-icon-button 
            [matMenuTriggerFor]="menu"
            *ngIf="!user">
        <mat-icon >account_circle</mat-icon>
    </button>

    <img [src]="user.profile_medium" 
        [alt]="user.username" 
        *ngIf="user"
        [matMenuTriggerFor]="menu"
        class="profile-img-button">

    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="getAuthorizationCode()" *ngIf="!stravaAuthService.stravaIsLinked">
            <span>Vincular con Strava</span>
        </button>
        <button mat-menu-item *ngIf="stravaAuthService.stravaIsLinked">
            <span>Strava vinculado</span>
        </button>
    </mat-menu>
</mat-toolbar>

<aside class="sidebar">
    <a class="profile" routerLink="profile" (click)="toggleSidebar()">
        <mat-icon *ngIf="!user">account_circle</mat-icon>
        <img [src]="user.profile_medium" 
        [alt]="user.username"  
        *ngIf="user"
        class="profile-img">
        <span class="profile-name" *ngIf="user">{{ user.firstname }} {{ user.lastname }}</span>
    </a>

    <mat-divider></mat-divider>

    <app-sidebar-tree></app-sidebar-tree>

</aside>

<router-outlet></router-outlet>


