<h2>{{ 'General Stats' }}</h2>

<div *ngIf="!activities">
    Cargando...
</div>

<div class="stats-container" *ngIf="activities">
    <span class="stats-item">
        <mat-icon>done_all</mat-icon>
        <span class="title">
            <span>{{ activitiesStats.activitiesCount }}</span>
            <span class="subtitle">Total activities</span>
        </span>
    </span>
    <span class="stats-item">
        <mat-icon>timer</mat-icon>
        <span class="title">
            <span>{{ activitiesStats.duration }}</span>
            <span class="subtitle">Duration</span>
        </span>
    </span>
    <span class="stats-item">
        <mat-icon>straighten</mat-icon>
        <span class="title">
            <span>{{ activitiesStats.distance }}</span>
            <span class="subtitle">Distance</span>
        </span>
    </span>
    <span class="stats-item">
        <mat-icon>trending_up</mat-icon>
        <span class="title">
            <span>{{ activitiesStats.elevacionGanada }}</span>
            <span class="subtitle">Elevation gained</span>
        </span>
    </span>
    <span class="stats-item">
        <mat-icon>speed</mat-icon>
        <span class="title">
            <span>{{ activitiesStats.ritmo }}</span>
            <span class="subtitle">Avg. Pace</span>
        </span>
    </span>
    <span class="stats-item">
        <mat-icon>speed</mat-icon>
        <span class="title">
            <span>{{ activitiesStats.velocidadMedia }}</span>
            <span class="subtitle">Avg. Speed</span>
        </span>
    </span>
    

</div>

