<div class="component-container">

    <div *ngIf="!activities">
        Cargando...
    </div>

    <div class="stats-container" *ngIf="false">
        <span class="stats-item">
            <mat-icon>done_all</mat-icon>
            <span class="title">
                <!-- <span>{{ activities }}</span> -->
                <span>Actividades</span>
            </span>
        </span>
        <span class="stats-item">
            <mat-icon>done_all</mat-icon>
            <span class="title">
                <span>{{ calories }}</span>
                <span>Calorias</span>
            </span>
        </span>
        <span class="stats-item">
            <mat-icon>done_all</mat-icon>
            <span class="title">
                <span>{{ duration }}</span>
                <span>Duración</span>
            </span>
        </span>
        <span class="stats-item">
            <mat-icon>done_all</mat-icon>
            <span class="title">
                <span>{{ distance }}</span>
                <span>Distancia</span>
            </span>
        </span>
        <span class="stats-item">
            <mat-icon>done_all</mat-icon>
            <span class="title">
                <span>{{ distance }}</span>
                <span>Ritmo</span>
            </span>
        </span>
        <span class="stats-item">
            <mat-icon>done_all</mat-icon>
            <span class="title">
                <span>{{ distance }}</span>
                <span>Vel. media</span>
            </span>
        </span>
        <span class="stats-item">
            <mat-icon>done_all</mat-icon>
            <span class="title">
                <span>{{ distance }}</span>
                <span>Elevación ganada</span>
            </span>
        </span>
        <span class="stats-item">
            <mat-icon>done_all</mat-icon>
            <span class="title">
                <span>{{ distance }}</span>
                <span>Elevación perdida</span>
            </span>
        </span>
    </div>
    
    
</div>
    
