<div class="activities-btn-container" *ngIf="stravaService.activityTypeList.length > 1">
    <button *ngFor="let activityType of stravaService.activityTypeList"
            mat-stroked-button
            (click)="getDataByRangeAndType('default', activityType)">
        {{activityType}}
    </button>
</div>

<div class="range-btn-container">
    <button mat-flat-button class="" (click)="getDataByRangeAndType('all', 'default')">Todo</button>
    <button mat-flat-button class="" (click)="getDataByRangeAndType('year', 'default')">Año</button>
    <button mat-flat-button class="" (click)="getDataByRangeAndType('month', 'default')">Mes</button>
</div>

<mat-form-field appearance="fill" *ngIf="yearList.length > 0">
    <mat-label>Año</mat-label>
    <mat-select [(value)]="selectedYear" 
                (selectionChange)="onChange($event)"
                [disabled]="disabledSelectYear">
        <mat-option *ngFor="let year of yearList" [value]="year">
            {{ year }}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field appearance="fill" *ngIf="monthList.length > 0">
    <mat-label>Mes</mat-label>
    <mat-select [(value)]="selectedMonth"
                (selectionChange)="onChange($event)"
                [disabled]="disabledSelectMonth">
        <mat-option *ngFor="let month of monthList" [value]="month.index">
            {{ month.name }}
        </mat-option>
    </mat-select>
</mat-form-field>