<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node"
                    (click)="navigateTo(node.url)" 
                    matTreeNodePadding 
                    matTreeNodePaddingIndent="15">
        
        <mat-icon>{{node.icon}}</mat-icon>
        {{node.name}}
    
    </mat-tree-node>

    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodePaddingIndent="15">
        <mat-icon>{{node.icon}}</mat-icon>
        {{node.name}}

        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
        </button>

    </mat-tree-node>
</mat-tree>