<div class="component-container">

  <table mat-table [dataSource]="dataSource" class="activities-table">
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell 
          class="date"
          *matCellDef="let activity"> {{activity.start_date | date:'mediumDate'}} </td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let activity"> {{ activity.name }} </td>
    </ng-container>
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef> Duration (h) </th>
      <td mat-cell *matCellDef="let activity"> {{ activity.moving_time | duration }} </td>
    </ng-container>
    <ng-container matColumnDef="distance">
      <th mat-header-cell *matHeaderCellDef> Distance (Km)</th>
      <td mat-cell *matCellDef="let activity"> {{ activity.distance | distance }} </td>
    </ng-container>
    <ng-container matColumnDef="elevation_gain">
      <th mat-header-cell *matHeaderCellDef> Elevation Gain (m) </th>
      <td mat-cell *matCellDef="let activity"> {{ activity.total_elevation_gain }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row
        (click)="viewActivity(myRowData.id)"
        *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 15, 20, 25, 30]"
                  showFirstLastButtons 
                  aria-label="Select page of periodic elements">
  </mat-paginator>

</div> 
