@import '../../../assets/base';

.component-container {
    background-color: transparent;
    box-shadow: none !important;
}

.message-container {
    @include flex-column;
    
    h2 {
        text-align: center;
        span {
            margin: 8px auto;
            font-size: 14px;
            color: #ccc;
        }
    }

}