@import '../../../assets/base';

.main-container {
    padding: 20px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    background: lightblue;
}