<!-- <main class="main-container">

    <h1 id="title">Hola mundo</h1>
    

</main> -->

<!-- 
    crear componente de botones (pills)
    y enviarlos a cada uno de los componentes de
    este archivo para que sepan en funcion de que
    rango van a trabajar
 -->

<main *ngIf="stravaService.athleteActivities" class="main-container">

     <app-range-pills (eventEmitter)="getDataToChart($event)"></app-range-pills>
     
     <app-general-stats [dataToChart]="dataToChart"></app-general-stats>
     
     <app-best-stats [dataToChart]="dataToChart"></app-best-stats>

     <app-duration-chart [dataToChart]="dataToChart"></app-duration-chart>

 </main>

<main *ngIf="!stravaService.athleteActivities" class="main-container">
    <h2>Cargando...</h2>
</main>

